@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

body{
    font-family: "Jost", sans-serif;
    overflow-x: hidden;
    overflow-y: scroll;
}
.card .hovereff{
    transition: all .5 linear;
}
.card:hover .hovereff{
    right: 3px;
}
.card:hover .addtoCart{
    bottom: 0px;
}

::-webkit-scrollbar{
    display: none;
}